
[package]
name = "aurae"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[[bin]]
name = "aurae"
path = "src/bin/main.rs"

[dependencies]
#clap = "3.2.16"
#log = "0.4.17"
#multi_log = "0.1.2"
#simplelog = "0.12.0"
#syslog = "6.0.1"
#tonic = "0.8"
#prost = "0.11"
#tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }
#futures = "0.3.23"
#tokio-stream = "0.1.9"
#h2 = "0.3.13"
rhai = "1.9.1"

[build-dependencies]
tonic-build = "0.8"
