# ---------------------------------------------------------------------------- #
#                Apache 2.0 License Copyright The Aurae Authors                #
#                                                                              #
#                +--------------------------------------------+                #
#                |   █████╗ ██╗   ██╗██████╗  █████╗ ███████╗ |                #
#                |  ██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔════╝ |                #
#                |  ███████║██║   ██║██████╔╝███████║█████╗   |                #
#                |  ██╔══██║██║   ██║██╔══██╗██╔══██║██╔══╝   |                #
#                |  ██║  ██║╚██████╔╝██║  ██║██║  ██║███████╗ |                #
#                |  ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝ |                #
#                +--------------------------------------------+                #
#                                                                              #
#                         Distributed Systems Runtime                          #
#                                                                              #
# ---------------------------------------------------------------------------- #
#                                                                              #
#   Licensed under the Apache License, Version 2.0 (the "License");            #
#   you may not use this file except in compliance with the License.           #
#   You may obtain a copy of the License at                                    #
#                                                                              #
#       http://www.apache.org/licenses/LICENSE-2.0                             #
#                                                                              #
#   Unless required by applicable law or agreed to in writing, software        #
#   distributed under the License is distributed on an "AS IS" BASIS,          #
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   #
#   See the License for the specific language governing permissions and        #
#   limitations under the License.                                             #
#                                                                              #
# ---------------------------------------------------------------------------- #

[package]
name = "auraed"
version = "0.1.0"
edition = "2021"
authors = ["The Aurae Authors", "Kris Nóva <kris@nivenly.com>"]
license = "Apache-2.0"

[[bin]]
name = "auraed"
path = "src/bin/main.rs"

[dependencies]
anyhow = { workspace = true }
aurae-client = { workspace = true }
aurae-proto = { workspace = true }
backoff = { version = "0.4.0", features = ["tokio"] }
cgroups-rs = "0.3.0"
clap = { version = "3.1.20", features = ["derive"] }
clone3 = "0.2.3"
fancy-regex = { workspace = true }
futures = "0.3.23"
ipnetwork = "0.20.0"
iter_tools = "0.1.4"
libc = "0.2" # TODO: Nix comes with libc, can we rely on that?
lazy_static = { workspace = true }
libcontainer = { git = "https://github.com/krisnova/youki", branch = "musl-libcontainer", features = ["v2"], default-features = false }
liboci-cli = "0.0.4"
log = "0.4.17"
netlink-packet-route = "0.13.0" # Used for netlink_packet_route::rtnl::address::nlas definition
nix = { version = "0.26.1", features = ["sched"] }
ocipkg = "0.2.8"
procfs = "0.14.2"
rtnetlink = "0.11.0"
simplelog = "0.12.0"
thiserror = { workspace = true }
tokio = { workspace = true, features = ["fs", "macros", "net", "process", "rt-multi-thread", "signal", "sync"] }
tokio-stream = { version = "0.1", features = ["net", "sync"] }
tonic = { workspace = true, features = ["tls"] }
tonic-health = { workspace = true }
tracing = { workspace = true, features = ["log"] }
tracing-log = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "registry"] }
tracing-rfc-5424 = { version = "0.1.0" }  # syslog tracing
uuid = { version = "1.2.2", features = ["v4"] }
validation = { workspace = true, features = ["regex", "tonic"] }
validation_macros = { path = "../crates/validation/macros" }
walkdir = "2"
multi_log = "0.1.2"

[dev-dependencies]
simple_test_case = "1.1.0"
